<footer>
	<div class="footer-info left">
		<button
			pButton
			pRipple
			type="button"
			icon="pi pi-map"
			(click)="showDialog()"
			class="p-button-rounded p-button-secondary p-button-outlined p-button-sm"
		></button>
		<p>
			<i class="pi pi-map-marker"></i>
			Direccion:<br />
			{{ address }}
		</p>
	</div>
	<div class="logo-vert center">
		<img [src]="logo" height="40" alt="logo" align="center" />
		<h1>{{ title }}</h1>
	</div>
	<div class="footer-info right">
		<p>
			<i class="pi pi-phone"></i>
			Telf:<br />
			{{ phone }}
		</p>
		<p>
			<i class="pi pi-envelope"></i>
			Email:<br />
			<a href="mailto:{{ email }}">{{ email }}</a>
		</p>
	</div>
</footer>
<p-dialog
	[modal]="true"
	[(visible)]="show"
	[draggable]="false"
	[resizable]="false"
>
	<google-map [zoom]="zoom" [center]="center" [options]="options">
		<map-marker #marker="mapMarker" [position]="center" [options]="options">
		</map-marker>
	</google-map>
</p-dialog>
