<footer class="layout-footer">
  <div class="footer-info left">
    <p>Direccion:</p>
  </div>
  <div class="logo-vert center">
    <img
      [src]="logo"
      height="40"
      alt="logo"
      align="center"
    />
    <h1>{{ title }}</h1>
  </div>
  <div class="footer-info right">
    <p>
      <i class="pi pi-phone" ></i>
      Telf:<br/>
      (+0) 123-456-789
    </p>
    <p>
      <i class="pi pi-envelope"></i>
      Email:<br/>
      <a href="mailto:info@mesasilla.com">info@mesasilla.com</a>
    </p>
  </div>
</footer>
