/* You can add global styles to this file, and also import other style files */
:root {
  --border-radius: 4px;
}

:root, [theme=light] {
  --body-bg-color: var(--gray-300);
  --color: black;
  --navbar-bg-color: var(--gray-50);
  --primary-bg-color: var(--gray-100);
  --secondary-bg-color: var(--gray-200);
}

[theme=dark] {
  
  --body-bg-color: var(--gray-800);
  --color: black;
  --navbar-bg-color: var(--gray-600);
  --primary-bg-color: var(--gray-700);
  --secondary-bg-color: var(--gray-500);
}

body {
  margin: 0;
  color: var(--color);
  background-color: var(--body-bg-color);

  header {
    display: block;
    position: sticky;

    margin: 10px auto;
    top: 10px;
    left: 0;
    right: 0;

    width: 70%;
    z-index: 1;
  }

  div.content {
    margin: 10px auto;
    width: 60%;

    padding: 0.5rem;
    border-radius: 6px;

    min-height: 80vh;
    
    background-color: var(--primary-bg-color);
  }
}

.logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & > h1 {
    margin: 0 25px 0 0;
  }
}

.inline-flex {
  display: flex;
  gap: 10px;
}

