<section class="">
  <form>
    <input type="text" name="name" pInputText placeholder="Nombre"/>
    <input type="password" name="password" pPassword placeholder="Contraseña"/>
    <button pButton type="submit" icon="pi pi-check-circle" class="p-button-info">Enviar</button>     
  </form> 
</section>

<div class="card">
  <h5>MESASILA</h5>
  <div class="grid">
    <div class="col-8 flex align-items-center justify-content-center">
      <div class="p-fluid">
        <div class="p-field">
          <label for="email">Email:  </label>
          <input pInputText id="email" type="text" />
        </div>
        <br>
        <div class="p-fluid">
          <label for="password">Password:   </label>
          <input pInputText id="password" type="password" />
        </div>
        <br>
        <p-button label="Login"></p-button>
      </div>
    </div>
    <div class="col-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="col-5 flex align-items-center justify-content-center">
      <p-button
        label="Registrese"
        icon="pi pi-user-plus"
        styleClass="p-button-success"
      ></p-button>
    </div>
  </div>
</div>