<div class="card w-10">
	<h2 class="">Welcome to</h2>
	<div class="flex justify-content-center">
		<img src="assets/img/Mesasila_logo.png" height="40" class="mr-2 h-8rem" alt="logo"/>
		<h1 class="text-7xl">Mesasilla</h1>
	</div>
	<div class="text-justify p-3">
		<p class="text-xl">¿Estás buscando renovar las sillas de tu comedor o de tu oficina? ¿Quieres encontrar un e-comerce de sillas que te ofrezca calidad, diseño y buen precio? Entonces te invitamos a conocer Mesasilla, una empresa especializada en la venta online de sillas de todo tipo.</p>
		<p>En Mesasilla encontrarás una amplia variedad de modelos de sillas para adaptarse a tus necesidades y gustos. Desde sillas modernas y minimalistas, hasta sillas clásicas y elegantes. Desde sillas de madera y metal, hasta sillas tapizadas y de polipropileno. Desde sillas de comedor y de cocina, hasta sillas de oficina y de jardín.</p>
		<p>Mesasilla te ofrece muchas ventajas a la hora de comprar tus sillas online. Por ejemplo:</p>
		<ul>
			<li>Envío rápido y seguro a toda España</li>
			<li>Precios competitivos y descuentos especiales</li>
			<li>Calidad garantizada y servicio postventa</li>
			<li>Atención personalizada y asesoramiento profesional</li>
			<li>Posibilidad de financiar tu compra en cómodos plazos</li>
		</ul>
		<p>Además, en Mesasilla podrás encontrar también mesas que combinan perfectamente con las sillas que elijas, para crear un ambiente armonioso y acogedor en tu hogar o en tu lugar de trabajo.</p>
		</div>
</div>
